<!DOCTYPE HTML>
<html>
	<head>
		<title>New Entry</title>
	</head>
	<body>
		<h2>New Post</h2>
		<form method='post'>
			<table>
				<tr>
					<td class="label">subject</td>
					<td>
						<input type='text' name='subject' value='{{prev_title}}' />
					</td>
				</tr>
				<tr>
					<td class="label">blog</td>
					<td>
						<textarea name='content' rows='20' cols='50'>{{prev_content}}</textarea>
					</td>
				</tr>
				<tr>
					<td>{{error_message}}</td>
				</tr>
				<tr>
					<td>
						<input type='submit'>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>