<!DOCTYPE html>

<html>
	<head>
		<title>Sign Up</title>
		<style type="text/css">
			.label {text-align: right;}
			.error {color: red; text-align: left;}
		</style>
	</head>

	<body>
		<h2>Signup</h2>
		<form method="post">
			<table>
				<tr>
					<td class="label">
						Username
					</td>
					<td>
						<input type="text" name="username" value="{{prev_username}}" />
					</td>
					<td class="error">
						{{username_error}} <!-- string substitution -->
					</td>
				</tr>
				
				<tr>
					<td class="label">
						Password
					</td>
					<td>
						<input type="password" name="password" value="" />
					</td>
					<td class="error">
						{{password_error}}
					</td>
				</tr>
				
				<tr>
					<td class="label">
						Verify Password 
					</td>
					<td>
						<input type="password" name="verify" value="" />
					</td>
					<td class="error">
						{{verify_error}}
					</td>
				</tr>
				
				<tr>
					<td class="label">
						Email (optional)
					</td>
					<td>
						<input type="text" name="email" value="{{prev_email}}" />
					</td>
					<td class="error">
						{{email_error}}
					</td>
				</tr>
				
				<tr>
					<td>
						<input type="submit" />
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>