<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    {% if tree|length == 1 %}
	  <p>There are no prerequisites for: {{ tree[0].departmentCode }} {{ tree[0].code }} - {{ tree[0].name }}</p>
	{% else %}
      <p>The prerequisite tree for {{ tree[0].departmentCode }} {{ tree[0].code }} - {{ tree[0].name }} is:</p>
	  {% for item in tree %}
	    <p>
	      {% for n in range (item.depth*4) %}
		    &nbsp
		  {% endfor %}
          <span style="background-color: {{item.backgroundColor}}">{{ item.departmentCode }} {{ item.code}} - {{ item.name }} </span>
	    <p>
      {% endfor %}
	{% endif %}
    <form method="post">
      <div>
	    <button name="reset" value ="true" type="submit">Reset</button>
	  </div>
	</form>
    <hr>
  </body>
</html>
{% endautoescape %}